
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label >FirstName:
    <input type="text" formControlName="FirstName" [(ngModel)]="finame">
    </label>
    <label>LastName:
    <input type="text" formControlName="LastName" [(ngModel)]="laname">
    </label>
    <label>City:
    <input type="text" formControlName="City" [(ngModel)]="cty">
    </label>
    <button type="submit">Submit and go to page 2</button>
</form>

<br><br><br><br>

<!-- <h3>{{ profileForm.value.FirstName }}</h3> -->
<!-- <h5>{{ profileForm.value | json}}</h5> -->